.Bakerloo {
  background-color: brown;
}

.Central {
  background-color: red;
}

.Circle {
  background-color: yellow;
}

.District {
  background-color: green;
}

.Hammersmith-city {
  background-color: pink;
}

.Jubilee {
  background-color: gray;
}

.Metropolitan {
  background-color: purple;
}

.Northern {
  background-color: darkgray;
}

.Piccadilly {
  background-color: blue;
}

.Victoria {
  background-color: cyan;
}

.Waterloo-city {
  background-color: turquoise;
}